In [6]:
import json
import pprint
import pandas as pd
import numpy as np

In [7]:
with open('factbook.json', encoding='utf-8') as json_file:
    data = json.load(json_file)

In [8]:
data_list = []
for country_name in data["countries"].keys():
    country_data = data["countries"][country_name]["data"]
    
    try:
        name = country_data["name"]
    except:
        name = np.nan
      
    try:
        government_type = country_data["government"]["government_type"]
    except:
        government_type = np.nan
     
    try:
        population = country_data["people"]["population"]["total"]
    except:
        population = np.nan
        
    try:
        internet_users = country_data["communications"]["internet"]["users"]["total"]
    except:
        internet_users = np.nan   
        
    try:
        internet_users_percent = country_data["communications"]["internet"]["users"]["percent_of_population"]
    except:
        internet_users_percent = np.nan     
        
    try:
        internet_users_rank = country_data["communications"]["internet"]["users"]["global_rank"]
    except:
        internet_users_rank = np.nan     
    
    try:
        telephones_fixed = country_data["communications"]["telephones"]["fixed_lines"]["total_subscriptions"]
    except:
        telephones_fixed = np.nan    

    try:
        telephones_fixed_rank = country_data["communications"]["telephones"]["fixed_lines"]["global_rank"]
    except:
        telephones_fixed_rank = np.nan 
   
    try:
        telephones_mobile = country_data["communications"]["telephones"]["mobile_cellular"]["total_subscriptions"]
    except:
        telephones_mobile = np.nan    

    try:
        telephones_mobile_rank = country_data["communications"]["telephones"]["mobile_cellular"]["global_rank"]
    except:
        telephones_mobile_rank = np.nan 

    try:
        median_age = country_data["people"]["median_age"]["total"]["value"]
    except:
        median_age = np.nan
         
    try:
        gdp_purchasing = ((country_data["economy"]['gdp']["purchasing_power_parity"]["annual_values"])[0])["value"]
    except:
        gdp_purchasing = np.nan
    
    try:
        gdp_rank = country_data["economy"]['gdp']["purchasing_power_parity"]["global_rank"]
    except:
        gdp_rank = np.nan
    
    try:
        education_expen = country_data["people"]["education_expenditures"]["percent_of_gdp"]
    except:
        education_expen = np.nan
    
    try:
        education_rank = country_data["people"]["education_expenditures"]["global_rank"]
    except:
        education_rank = np.nan
    
    data_list.append({
        "Country": name,
        "Government Type": government_type,
        "Population": population,
        "Internet Users": internet_users,
        "Internet % of Population": internet_users_percent,
        "Internet Global Rank": internet_users_rank,
        "Telephones Fixed Lines": telephones_fixed,
        "Telephones Fixed Lines Global Rank": telephones_fixed_rank,
        "Telephone Mobile Cellular": telephones_mobile,
        "Telephone Mobile Cellular Global Rank": telephones_mobile_rank,
        "Median_age": median_age,
        "GDP - Purchasing power parity": gdp_purchasing,
        "GDP - Global Rank": gdp_rank,
        "Education Expenditures": education_expen,
        "Education Expeditures - Global Rank": education_rank,
        
        
    })

In [9]:
df = pd.DataFrame(data_list)

In [10]:
len(df['Country'])

259

In [11]:
df.iloc[244]

Country                                                    United States
Government Type                          constitutional federal republic
Population                                                   3.29256e+08
Internet Users                                               2.46809e+08
Internet % of Population                                            76.2
Internet Global Rank                                                   3
Telephones Fixed Lines                                         119902000
Telephones Fixed Lines Global Rank                                     2
Telephone Mobile Cellular                                    3.95881e+08
Telephone Mobile Cellular Global Rank                                  4
Median_age                                                          38.2
GDP - Purchasing power parity                                  1.949e+13
GDP - Global Rank                                                      2
Education Expenditures                                                 5
Education Expeditures - Global Rank                                   69
Name: 244, dtype: object

In [14]:
df.loc[df.Country.str.contains('Qatar')]

,Country,Government Type,Population,Internet Users,Internet % of Population,Internet Global Rank,Telephones Fixed Lines,Telephones Fixed Lines Global Rank,Telephone Mobile Cellular,Telephone Mobile Cellular Global Rank,Median_age,GDP - Purchasing power parity,GDP - Global Rank,Education Expenditures,Education Expeditures - Global Rank
188,Qatar,absolute monarchy,2363569.0,2129360.0,94.3,108.0,440909,100.0,3913809.0,128.0,33.4,3.395000e+11,52.0,2.9,146.0

In [15]:
df

,Country,Government Type,Population,Internet Users,Internet % of Population,Internet Global Rank,Telephones Fixed Lines,Telephones Fixed Lines Global Rank,Telephone Mobile Cellular,Telephone Mobile Cellular Global Rank,Median_age,GDP - Purchasing power parity,GDP - Global Rank,Education Expenditures,Education Expeditures - Global Rank
0,World,NaN,7.503828e+09,3.174000e+09,43.0,NaN,984289950,NaN,7.806143e+09,NaN,30.6,1.278000e+14,NaN,NaN,NaN
1,Afghanistan,presidential Islamic republic,3.494084e+07,3.531770e+06,10.6,NaN,118769,138.0,2.392971e+07,52.0,19.0,6.945000e+10,101.0,3.9,111.0
2,Akrotiri,NaN,1.550000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,parliamentary republic,3.057220e+06,2.016516e+06,66.4,110.0,247010,122.0,3.497950e+06,134.0,33.4,3.601000e+10,125.0,4.0,108.0
4,Algeria,presidential republic,4.165749e+07,1.729146e+07,42.9,36.0,3130090,45.0,4.987339e+07,29.0,28.3,6.300000e+11,36.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,Western Sahara,legal status of territory and issue of soverei...,6.195510e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.5,9.065000e+08,205.0,NaN,NaN
255,Yemen,in transition,2.866723e+07,6.732928e+06,24.6,62.0,1165828,72.0,1.643306e+07,63.0,19.8,7.363000e+10,97.0,NaN,NaN
256,Zambia,presidential republic,1.644508e+07,3.956252e+06,25.5,88.0,101444,141.0,1.343854e+07,70.0,16.8,6.893000e+10,102.0,NaN,NaN
257,Zimbabwe,presidential republic,1.403037e+07,3.363256e+06,23.1,92.0,264150,119.0,1.409210e+07,68.0,20.2,3.427000e+10,127.0,7.5,10.0
258,European Union,NaN,5.171113e+08,3.981000e+08,77.0,NaN,210621546,NaN,6.250008e+08,NaN,43.2,2.085000e+13,NaN,5.0,NaN